@media (max-width: 600px){
    .calculadora{
        display: block;
        max-width: 450px;
    }
    .efeito-flutuante{
        text-align: center;
    }
    .efeito-flutuante img{
        width: 200px;
        animation: none;
    }
    .entrada input{
        width: 60%;
    }
    #btCalcular,
    #btLimpar{
        padding: 10px;
        font-size: 1rem;
    }
    #btLimpar{
        background-color: #ff6e78;
    }
}